@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">TO DO Listen!</h1>
    <hr />
    @if (Model.ToDoItems.Count == 0)
    {
        <h3>There are no items on the list.</h3>
    }
    else
    {
        //Logic for displaying the list here
    }
</div>
